:root {
  --color-background: #fff;
  --color-background-surface: #f0f0f0;
  --color-border: #808080;
  --color-palette-primary: #00f;
  --color-palette-secondary: #66f;
  --color-text-body: #000;
  --color-text-on-primary: #fff;
  --color-text-subdued: #404040;
  --font-family-body: "Open Sans", sans-serif;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-variation-semicondensed: "wdth" 87.5;
  --size-margin-page: 4rem;
  --z-index-modal: 3;
  --z-index-top-bar: 2;
}

a {
  color: var(--color-palette-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text-body);
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;

  a {
    color: inherit;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

html {
  margin: 0;
  padding: 0;
}

input {
  font-family: var(--font-family-body);
}
