.popover {
  background-color: var(--color-background-surface);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;

  &[data-trigger="MenuTrigger"],
  &[data-trigger="SubmenuTrigger"] {
    padding: 0;
    overflow-y: auto;
  }
}
