.button {
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  margin: 0;
  padding: 0.25em 0.375em;

  &[data-disabled] {
    opacity: 0.5;
  }

  &[data-hovered] {
    cursor: pointer;
    filter: brightness(0.875);
  }

  &[data-pressed] {
    filter: brightness(0.75);
  }

  &[data-variant="primary"] {
    background-color: var(--color-palette-primary);
    border-color: var(--color-palette-primary);
    color: var(--color-text-on-primary);
  }

  &[data-variant="secondary"] {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text-subdued);
  }
}
