.checkbox-button {
  .checkbox-indicator {
    block-size: 1em;
    inline-size: 1em;
    inset-block-start: 0.125em;
    position: relative;
    stroke: var(--color-border);
    stroke-width: 1px;

    polyline {
      stroke: var(--color-text-on-primary);
      stroke-width: 2px;
    }

    rect {
      fill: var(--color-background);
    }
  }

  :is(&[data-disabled], &[data-readonly]) .checkbox-indicator {
    opacity: 0.5;
  }

  &[data-pressed] .checkbox-indicator {
    filter: brightness(0.75);
  }

  &[data-selected] .checkbox-indicator {
    rect {
      fill: var(--color-palette-primary);
    }
  }
}
