.navigation-menu {
  align-items: baseline;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
  padding: 0.5rem var(--size-margin-page);

  .wordmark {
    font-size: 1.5rem;
    font-weight: bold;
  }

  a[aria-current="page"] {
    font-weight: bold;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li {
      font-size: 1.25rem;
      list-style: none;
    }
  }
}
