.group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .entry {
    display: grid;
    gap: 0.0625rem;
    grid-template-columns: 1fr max-content;

    & > :first-child {
      grid-column: 1 / 3;
    }

    & input {
      width: 100%;
    }
  }
}
