.form-table {
  /* Grid layout */
  --instance-count: 1;
  --max-column-count: 1;
  --row-count: 1;
  display: grid;
  gap: 0 0.5rem;
  grid-template-columns: max-content minmax(15rem, 30rem) repeat(
      calc(var(--instance-count) * var(--max-column-count)),
      10rem
    );

  /* Other */
  background-color: var(--color-background-surface);
  border: 1px solid var(--color-border);
  border-radius: 1.5rem;
  box-sizing: border-box;
  margin: 1rem 0;
  max-width: 100%;
  overflow-x: auto;
  padding: 1rem;
  width: fit-content;
}

.form-instance {
  --row-header-column-count: 2;
  grid-column: auto / span
    calc(var(--row-header-column-count) + var(--max-column-count));
  grid-row: auto / span var(--row-count);
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  &:not(:first-child) {
    --row-header-column-count: 0;

    .form-table-row-header {
      display: none;
    }
  }
}

.form-table-row {
  /* Grid layout */
  grid-row: auto / span 1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;

  &:not(:first-child) {
    padding-top: 0.25rem;
  }

  &:not(:last-child) {
    border-bottom: 1px solid rgb(from var(--color-border) r g b / 0.5);
    padding-bottom: 0.25rem;
  }
}

.form-instance-label-cell {
  /* Grid layout */
  grid-row: auto / span 1;
  grid-column: 3 / -1;

  /* Other */
  display: flex;
  flex-direction: column;

  .form-instance-button-group {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  h3 {
    margin: 0;
    font-size: inherit;
  }
}

.form-section-header-cell {
  grid-row: auto / span 1;
  grid-column: 1 / -1;
}

.form-section-heading {
  font-size: 1.125rem;
  font-weight: bold;
}

.form-column-header-cell {
  font-weight: bold;
}

.form-line-column {
  --box-index: 0;
  --column-count: 1;
  grid-column: calc(-1 - var(--column-count) + var(--box-index)) / span 1;
}
