.form-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 1rem 0 0;
    padding: 0;

    & > * {
      margin: 0.5rem 0;
    }

    .item-buttons {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
    }

    .item-disclosure {
      margin-block: 1rem;
    }

    .item-heading {
      align-items: baseline;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      a {
        font-size: 1.5em;
      }

      h2 {
        display: inline;
        margin: 0;
      }
    }
  }
}
