.banner {
  background-color: var(--color-background-error);
  border: 1px solid var(--color-border-error);
  border-radius: 0.5rem;
  max-inline-size: 50rem;
  padding: 1rem;
  position: relative;

  .heading {
    align-items: flex-start;
    display: flex;
    flex-direction: row;

    & > span {
      color: var(--color-text-error);
      flex: 1;
      font-weight: bold;

      & > svg {
        inset-block-start: 0.125em;
        margin-inline-end: 0.375em;
        position: relative;
      }
    }
  }

  li {
    word-break: break-word;
  }
}
