.popover {
  inline-size: 40rem;
  max-inline-size: 90%;

  .search-box {
    inline-size: 20rem;
    margin: 0.5rem;
    max-inline-size: 100%;
  }

  .menu-item {
    display: flex;
    flex-direction: column;

    .item-count {
      font-weight: var(--font-weight-light);
    }

    .item-title {
      font-weight: bold;
    }
  }
}
