.control-bar {
  background-color: var(--color-background-surface);
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin: 0;
  padding: 0.5rem var(--size-margin-page);

  div[role="separator"] {
    height: auto;
    margin: 0.125rem 0.25rem;
  }
}
