.page {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.content {
  flex: 1;
  min-width: 0;
}

.sidebar {
  flex-shrink: 0;
  inline-size: 16rem;
  inset-block-start: var(--size-height-top-bar);
  position: sticky;
}

.sidebar-panel {
  margin-block-start: 1rem;
}
