.lucide {
  height: 1em;
  width: 1em;
}

button:has(> .lucide) {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  .lucide {
    margin-bottom: 0.125em;
    margin-top: 0.125em;
  }
}
