.lucide {
  block-size: 1em;
  inline-size: 1em;
}

button:has(> .lucide) {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  .lucide {
    margin-block: 0.125em;
  }
}
