.react-aria-Button {
  border-radius: 0.5em;
  border-style: solid;
  border-width: 1px;
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  margin: 0;
  padding: 0.25em 0.375em;

  &[data-disabled] {
    opacity: 0.5;
  }

  &[data-hovered] {
    cursor: pointer;
    filter: brightness(0.875);
  }

  &[data-pressed] {
    filter: brightness(0.75);
  }

  &[data-variant="primary"] {
    background-color: var(--color-palette-primary);
    border-color: var(--color-palette-primary);
    color: var(--color-text-on-primary);
  }

  &[data-variant="secondary"] {
    background-color: var(--color-background);
    border-color: var(--color-border);
    color: var(--color-text-subdued);
  }
}

.react-aria-FieldError {
  color: var(--color-text-error);
}

.react-aria-Input {
  &[data-invalid] {
    border-color: var(--color-border-error);
    color: var(--color-text-error);
  }

  &:read-only {
    background-color: transparent;
  }
}

.react-aria-MenuItem {
  background-color: var(--color-background-surface);
  cursor: pointer;
  padding: 0.125rem 0.5rem;

  &[data-disabled] {
    cursor: default;
    opacity: 0.5;
  }

  &[data-focused],
  &[data-hovered] {
    filter: brightness(0.875);
  }
}

.react-aria-MenuSection {
  .react-aria-Header {
    font-weight: bold;
    padding: 0.125rem 0.5rem;
  }

  .react-aria-MenuItem {
    padding: 0.125rem 1rem;
  }
}

.react-aria-Modal {
  background-color: var(--color-background);
  border-color: var(--color-border);
  border-radius: 1rem;
  border-width: 1px;
  max-height: calc(var(--visual-viewport-height) * 0.9);
  max-width: min(512px, 90vw);
  overflow: hidden;
  padding: 1rem;

  .react-aria-Heading {
    margin: 0;
  }
}

.react-aria-ModalOverlay {
  align-items: center;
  background-color: rgb(0 0 0 / 0.5);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: var(--z-index-modal);
}

.react-aria-Popover {
  background-color: var(--color-background-surface);
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;

  &[data-trigger="MenuTrigger"],
  &[data-trigger="SubmenuTrigger"] {
    padding: 0;
    overflow-y: auto;
  }
}

.react-aria-Separator {
  background-color: var(--color-border);
  border: none;
  height: 1px;
  width: 100%;

  &[aria-orientation="vertical"] {
    height: 100%;
    min-height: 1rem;
    width: 1px;
  }
}
